html, body {
    height: 100%;
    overflow: auto;
}

.expanded-scrollable-area {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.custom-content-container {
    max-width: 800px;
    margin: 0 auto; // center content
    padding: 0 20px;
}

.sidebar {
    min-height: 100%;
    width: 285px;
    flex-shrink: 0;
    border-right: 2px solid #eee;

    overflow-y: auto;

    .sidebar-label {
        font-family: "Signika", serif;
        font-size: 28px;
        color: rgba($primary-dark, 0.7);
    }
}

.navigation-items {
    margin-top: 20px;

    .navigation-item {
        display: block;
        color: rgb(35, 68, 72);
        padding: 7px 12px;
        margin-bottom: 15px;
        font-size: 18px;
        transition: background-color 0.2s, color 0.2s;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: rgba(180, 180, 192, 0.08);
        }

        &.router-link-exact-active {
            background: rgba($grey-primary, 0.12);
            color: $primary-dark;
        }
    }
}

.floating-add-button {
    position: absolute;
    bottom: 47px;
    right: 47px;
    height: 74px;
    width: 74px;
}




// RICH TEXT EDITOR STYLES
div.ProseMirror[contenteditable=true] {
    outline: none; // prevent outline from showing in RTE
}
  
.fullheight-editor {
    height: 100%;
    .ProseMirror {
        height: 100%;
    }
}

// RTE Placeholder
.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-empty-text);
    float: left;
    color: #aaa;
    pointer-events: none;
    height: 0;
    font-style: italic;
}
  
.button.rte-menu-button {
    padding: 0 10px;
    height: 35px;
    min-width: 42px;
    margin-right: 5px;
    background-color: transparent;
    border: 2px solid #f5f5f5;

    .rte-menu-button-text-icon {
        font-size: 18px;
        font-weight: bold;
    }
}